<div class="container text-center">
  <h1>About us:</h1>
  <p>DevMatch Baby. We really out here with them devs and them entrepies. Hit your boy up. KOBE. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos minima voluptate incidunt similique aliquid veniam dolorem explicabo non cum. Sequi, voluptates nisi non amet a illum totam incidunt error!</p>
</div>